[Unit]
Description=namedlevels-api
After=network.target

[Service]
ExecStart=/var/www/namedlevels-api/namedlevels-api.js
Restart=always
User=noderunner
Group=robots
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/var/www/namedlevels-api

[Install]
WantedBy=multi-user.target
