[Unit]
Description=namedlevels-api
After=network.target

[Service]
ExecStart=/opt/namedlevels-api/namedlevels-api.js
Restart=always
User=bot
Group=bot
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/opt/namedlevels-api

[Install]
WantedBy=multi-user.target
